.navbar {
    background-color: rgb(0, 74, 173);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;

    --bs-navbar-color: rgba(255, 255, 255, 0.75);
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.9);
    --bs-navbar-active-color: rgba(255, 255, 255, 1);
    --bs-navbar-toggler-border-color: rgb(0, 74, 173);
}

.modal-dialog {
    top: 10%;
}

.form-range {
    width: 95%;
}
output {
    margin: 0px;
    padding: 0px;
}

.btn-green {
    background-color: rgba(40, 167, 69, 1);
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    color: white;
}

.btn-green:hover {
    background-color: rgba(40, 167, 69, 0.5);
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    color: white;
}

.btn-chat {
    background-color: rgba(40, 167, 69, 1);
    font-size: medium;
    color: white;
}

.btn-chat:hover {
    background-color: rgba(40, 167, 69, 0.5);
    font-size: medium;
    color: white;
}

.btn-blue {
    background-color: rgba(0, 123, 255, 1);
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    color: white;
}

.btn-blue:hover {
    background-color: rgba(0, 123, 255, 0.5);
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    color: white;
}

.btn-red {
    background-color: rgba(209, 20, 20, 1);
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    color: white;
}

.btn-red:hover {
    background-color: rgba(209, 20, 20, 0.5);
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    color: white;
}

.btn-orange {
    background-color: rgba(255, 157, 0, 1);
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    font-weight: bold;
    color: white;
}

.btn-orange:hover {
    background-color: rgba(252, 159, 21, 0.5);
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    color: white;
}

body {
    background-color: rgb(56, 182, 255);
}

h1 {
    margin: 40px;
    text-align: center;
    font-size: xx-large;
    color: white;
}

h5 {
    text-align: center;
    color: black;
}

#area-gioco {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#area-laterale {
    width: 30%;
    height: 100%;
    margin: 0px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 0px;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#area-navi {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

#area-navi > .row {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#area-navi > .row > .col {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nave {
    background-color: black;
    border-radius: 10px;
    cursor: grab;

    --u: 20px;
    --m: 0px;
}

.nave:active {
    cursor: grabbing;
}

.nave1 {
    width: calc(1*var(--u));
    height: var(--u);
    margin: var(--m);
}

.nave2 {
    width: calc(2*var(--u));
    height: var(--u);
    margin: var(--m);
}

.nave3 {
    width: calc(3*var(--u));
    height: var(--u);
    margin: var(--m);
}

.nave4 {
    width: calc(4*var(--u));
    height: var(--u);
    margin: var(--m);
}

.nave5 {
    width: calc(5*var(--u));
    height: var(--u);
    margin: var(--m);
}

.powerup {
    width: 20px;
    height: 20px;
    margin: 0px;
    background-color: rgb(251, 255, 0);
    border-radius: 10px;
    cursor: grab;
}

.powerup:active {
    cursor: grabbing;
}

.powerup.powerupriga {
    background-color: rgb(255, 157, 0);
}

.powerup.powerupcolonna {
    background-color: rgb(0, 114, 40);
}

.powerup.powerupbomba {
    background-color: rgb(74, 0, 212);
}

#area-chat {
    width: 100%;
    height: 400px;
    display: none;
}

#storico-messaggi {
    width: 100%;
    height: 100%;
    padding: 20px;
    scrollbar-width: none;
    overflow-y: scroll;
}

#storico-messaggi > div {
    width: 100%;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#form-chat {
    display: flex;
}

#area-battaglia {
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 0px;
}

#area-giocatore {
    margin: 10px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.area-titolo {
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: black;
    user-select: none;
}

.area-griglia {
    width: auto;
    margin: 10px;
    display: flex;
    justify-content: center;
}

#area-bottone-inizio {
    margin: 10px;
    display: flex;
    justify-content: center;
}

#area-avversario {
    margin: 10px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

#area-powerup {
    aspect-ratio: 4/1;
    width: auto;
    height: auto;
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0px;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    justify-content: space-evenly;
}

#area-powerup > .row {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#area-powerup > .row > .col {
    margin-bottom: 25px;
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.griglia {
    aspect-ratio: 1/1;
    width: 70%;
    height: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    flex-wrap: wrap;
}

.cella {
    position: relative;
    aspect-ratio: 1/1;
    width: 10%;
    height: auto;
}

.cella::before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: solid 1px black;
}

.cella.inizio.orizzontale {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.cella.fine.orizzontale {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.cella.inizio.verticale {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.cella.fine.verticale {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.cella-piena {
    cursor: grab;
}

.cella-piena:active {
    cursor: grabbing;
}

.cella-piena.cella-nave {
    background-color: black;
}

.cella-piena.cella-powerup.powerupriga {
    background-color: rgb(255, 157, 0);
}

.cella-piena.cella-powerup.powerupcolonna {
    background-color: rgb(0, 114, 40);
}

.cella-piena.cella-powerup.powerupbomba {
    background-color: rgb(74, 0, 212);
}

.cella-colpita.cella-nave {
    background-color: rgb(255, 0, 0);
}

.cella-colpita.cella-powerup {
    background-color: rgb(145, 144, 144);
}

.cella-acqua {
    background-color: rgb(0, 74, 173);
}

/* media query for small screens */
@media screen and (max-width: 768px) {
    .modal-dialog {
        top: 20%;
    }

    #area-battaglia {
        width: 100%;
        margin: 0px;
    }

    #area-giocatore {
        min-width: 100%;
        margin: 0px;
    }

    #area-avversario {
        min-width: 100%;
        margin: 0px;
    }

    .area-titolo {
        margin-top: 20px;
    }

    .area-griglia {
        margin: 0px;
    }

    #area-powerup {
        margin-top: 0px;
    }
}

.btn-circle {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
    font-size: large;
    font-weight: bold;
    background-color: rgba(40, 167, 69, 1);
    align-items: center;
}

.btn-circle:hover {
    background-color: rgba(40, 167, 69, 0.5);
    color: white;
}

.profile-image {
    width: 80px; 
    height: 80px;
    border-radius: 50%;
    background-color: #28a745; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase; 
}

.profile-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.popup .btn {
    margin-bottom: 10px;
}
.profilepopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: auto;
    border-radius: 10px;
    width: 300px;
    height: 400px;
}
.popup {
    display: none;
    position: fixed;
    margin-top: 100px;
    top: 140px;
    right: 20px;
    transform: translateY(-50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: auto;
    border-radius: 10px;
    width: 300px;
    height: auto;
}

.popup-content {
    text-align: center;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.rounded-img {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}
.rounded-img > img {
    width: 100%;
    height: auto;
}

.modal .rounded-img {
    width: 50%;
    height: 50%; 
    overflow: hidden;
    border-radius: 50%;
}
.popup .rounded-img {
    width: 30%;
    height: 30%; 
    overflow: hidden;
    border-radius: 50%;
}

.profileicon{

    text-align: center;
}